body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    background-color: antiquewhite;
    flex-direction: column;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titlebox{
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    flex-direction: column;
}

.pic {
    height: 70%;
    width: 100%;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    width: auto;
    border-radius: 12px;
}

.buttonbox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -5%;
}

#button2 {
    position: relative;
}

.button1:hover {
    background-color: rgb(140, 224, 140);
}

.button2:hover {
    background-color: rgb(234, 146, 146);
}
