body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-flow: column;
    background-color: black;
}

.title {
    font-family: monospace;
    font-size: x-large;
    margin-bottom: 4%;
    margin-top: 2%;
}

.overlay {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 60%;
    height: 250px;
    background-color: rgb(11, 11, 11);
    margin-bottom: 4%;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
}

.overlaytitle {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.overlaylinks {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

.projectbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 2, 2);
    width: 90%;
    height:auto;
    font-size: large;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.sectiontitle {
    font-size: xx-large;
    margin-bottom: 1%;
}
.horizontalrule{
    width: 15%;
    margin-bottom: 2%;
}
.horizontalrulelarge{
    width: 25%;
    margin-bottom: 2%;
}
.projectboxes {
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
h2{
    color: black;
    font-family: monospace;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(218, 212, 203);
}

.animated-title {
    font-family: monospace;
    overflow: hidden;
    animation: typing 4s steps(10) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 10ch;
    }
}

h{
    color: white;
    font-family: monospace;
}

.blink-animation {
    animation: blink 2s steps(1, end) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
.aboutthispage{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    color: white;
    font-family: monospace;
    flex-wrap: wrap;
}
.aboutthispageleftup{
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.aboutthispagerightup{
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.aboutthispageleftdown{
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
}
.aboutthispagerightdown{
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
}
.aboutthispagetext{
    font-size: x-large;
}
.aboutthispageheader{
    font-size: 40px;
    margin-bottom: 1%;
}
