body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-flow: column;
    background-color: black;
}

.title {
    font-family: monospace;
    font-size: xx-large;
    margin-bottom: 3%;
    margin-top: 2%;
    width: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.containerforoverlay {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.overlay {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 900px;
    height: 250px;
    background-color: rgb(11, 11, 11);
    margin-bottom: 4%;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
}
.overlay a:hover{
    text-shadow: 0 0 100px #00ecb5;
}
.overlay:hover{
    transform:scale(1.05);
}
.overlaytitle {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.overlaylinks {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

.projectbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    font-size: large;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.sectiontitle {
    font-size: 2rem;
    margin-bottom: 1%;
}

.horizontalrule {
    width: 15%;
    margin-bottom: 2%;
}

.horizontalrulelarge {
    width: 25%;
    margin-bottom: 2%;
}

.projectboxes {
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
.projectboxes:hover{
    transform:scale(1.05);
}
h2 {
    color: black;
    font-family: monospace;
}

.projectboxlink {
    color: black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: monospace;
}

a:hover {
    color: darkcyan;
}

.animated-title {
    font-family: monospace;
    overflow: hidden;
    animation: typing 4s steps(15) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15ch;
    }
}

h {
    color: white;
    font-family: monospace;
    font-size: 1.8rem;
}

.blink-animation {
    animation: blink 3s steps(1, end) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
.headercolor{
    color:darkcyan;
}
.aboutthispage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    color: white;
    font-family: monospace;
}

.aboutthispagelayer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutthispagetextbox {
    width: 500px;
    height: auto;
    margin-right: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.aboutthispagetext {
    font-size: x-large;
}

.aboutthispageheader {
    font-size: 2rem;
    margin-bottom: 1%;
    word-wrap: anywhere;
    text-align: center;
}


input {
    background-color: black;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    font-size: medium;
}

h3 {
    font-size: x-large;
    color: white;
    font-family: monospace;
}

.suggestionbox {
    width: 300px;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

.suggestionbutton {
    background-color: black;
    font-size: large;
    color: white;
    font-family: monospace;
    border-radius: 12px;
    padding: 5px;
    padding-left: 2px;
    border:2px solid rgb(255, 255, 255);
}

.suggestionheader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#suggestionsub {
    margin-bottom: 5%;
}

li {
    color: white;
    font-family: monospace;
    font-size: medium;
}

.containerforpay{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    flex-wrap: wrap;
    align-items: center;
}
.payboxright{
    width: 20%;
    margin-left: 5%;
}
.paytext{
    white-space: nowrap;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: monospace;
    margin-left: 5%;
    animation: specialtyping 6s steps(13) infinite;
    overflow:hidden;
    width: 13ch;

}
@keyframes specialtyping{
    0%, 100% {
        width: 0;
    }
    50% {
        width: 13ch;
    }
}

.paybox {
    background-color: black;
    color:white;
    animation: payboxanimation 3s infinite;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: monospace ;    
}
h6{
    font-size: 2rem;
    color:white;
}
.blink-animation2{
    animation: blink2 2s infinite;
    color: #23d5ab;
    font-size: 2.5rem;
}
@keyframes blink2{
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}
#pay {
    font-size: x-large;
}

@keyframes payboxanimation {
    0%,100% {
        border:4px solid #23d5ab;
    }
    50%{
        border:4px solid white;
    }
}

.paybox:hover {
    transform: scale(1.05);
}

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 290px;
}

.privateprojectbox {
    margin-top: 2%;
    width: 300px;
    background-color: hsla(0, 0%, 100%, 0.471);
    height: 150px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    font-size: x-large;
    font-family: monospace;
}

.privatestuffbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.privateprojectbox a {
    color: rgb(0, 0, 0);
}

.privateprojectbox a:hover {
    color: darkcyan;
}

#loginbuttonforprivat {
    font-family: monospace;
    font-size: medium;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    padding: 3px;
}

#Register {
    width: 900px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

#Register input {
    padding: 5px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    width: 19%;
}

#Register button {
    font-family: monospace;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px
}

#Register:hover {
    transform: scale(1.05);
}

@keyframes gradient {
    /* 
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#Log-In {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 900px;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

#Log-In input {
    padding: 5px;
    margin-right: 1%;
    margin-left: 1%;
    width: 19%;
}

#Log-In button {
    font-family: monospace;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px
}

#Log-In:hover {
    transform: scale(1.05);
}
.containerforlogin{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}
h5{
    font-family: monospace;
    color: rgb(218, 109, 109);
    font-size: x-large;
}
.warningforlogin{
    width: 90%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
input:hover{
    transform:scale(1.05);
    border:2px solid darkcyan;
}

button:hover{
    transform:scale(1.05);
    border:2px solid darkcyan !important;
}
footer{
    margin-top: 5%;
    color:white;
    font-family: monospace;
    font-size: large;
}
#forgotpasswort{
    margin-left: 3%;
    border: 2px solid darkcyan !important;
    color:black !important;
    background-color: white !important;
}