body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-flow: column;
    position:relative;
}
.overlay{
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 60%;
    height: 400px;
    background-color: rgb(214, 231, 238);
    margin-bottom: 4%;
}
.overlaytitle{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.overlaylinks{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:xx-large;
}
.projectbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 232, 230);
    width: 90%;
    height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.projecttitle{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: x-large;
   margin-bottom: 1%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(218, 212, 203);
}
#background-video{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}