body{
    background-color: rgb(71, 81, 90);
    font-family: monospace;
    font-size: 3em;
    overflow-x:hidden;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    top:30%;
    margin:0 auto;
    position: absolute;
    color:white;
    text-align: center;
    z-index: 1;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
.iconbox{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.iconbox i{
    font-size: xx-large;
}
.iconbox a{
    border:2px solid white;
    border-radius: 50%;
    margin:2px;
    color:white;
    padding: 10px;
    transition: 0.8s;
}

.iconbox a:hover{
    background-color: white;
    color:black;
}
#particles-js{
    width: 100% !important;
    height: 100vh !important;
}
.containertitle{
    font-size: 4rem;
}
.containerdesciption{
    font-size: 2rem;
    margin:1%;
}

section{
    height: 300vh;
    width: 100%;
    background-color: rgb(207, 207, 207);
    position: absolute;
    top:100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    left:0;
}
a{
    color:white;
    font-size: x-large;
    text-decoration: none;
}
p{
    font-size:x-large;
}
.about{
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2%;
}
.abouttitle{
    height: 10%;
}
.aboutcontainer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    flex-wrap: wrap;
}
.aboutpic{
    width: 50%;
    height: auto;   
}
.abouttext{
    width: 30%;
    height: 100%;
}
@media(max-width:768px){
    .aboutpic{
        width: 100%;
        height: auto;
    }
    .abouttext{
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }
}
@media(min-width:768px) and (max-width:1366px){
   
    .abouttext{
        width: 50%;
        height: auto;
        margin-bottom: 10%;
    }
}

.skills{
    margin-top:1%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}